.cursor
pgfplotsthemetol.sty
scilifelab-knowledge-pollution.aux
scilifelab-knowledge-pollution.bbl
scilifelab-knowledge-pollution.blg
scilifelab-knowledge-pollution.bcf
scilifelab-knowledge-pollution.dvi
scilifelab-knowledge-pollution.run.xml
scilifelab-knowledge-pollution.log
scilifelab-knowledge-pollution.nav
scilifelab-knowledge-pollution.out
scilifelab-knowledge-pollution.pdf
scilifelab-knowledge-pollution.snm
scilifelab-knowledge-pollution.synctex.gz
scilifelab-knowledge-pollution.toc
scilifelab-knowledge-pollution.vrb
sources
recording
outtakes
figures
literature
genai
additional_graphics
README.md